#headline {
  padding: 0.8em;
  color: white;
  font-family: Roboto, sans-serif;
  background-image: url(backgroundimage.jpg);
  background-size: cover;
}

@media (min-width: 600px) {    /*majorrrrrrrrrrrrrrrrrrrrrrrrrrr*/

}

.container {
  margin: auto;
  max-width: 800px;
}

#headline {
  padding: 20px 5%;
}

#section1 {
background: #306BAC;
color: white;
font-family: Roboto, sans-serif;
}

#section3 {
background: #306BAC;
color: white;
font-family: Roboto, sans-serif;
}